.topside-nav {
  &.show {
    display: none;
  }

  .links-box {
    margin-right: 12px;

    a {
      padding: 0 !important;
      font-size: 0.85rem;
      position: relative;

      &:not(:first-of-type) {
        margin-left: 10px;
      }

      &:not(:last-of-type) {
        margin-right: 10px;

        &:after {
          content: "|";
          font-size: 17px;
          position: absolute;
          top: 50%;
          right: -13px;
          transform: translate(-50%, -50%);
          cursor: default;
        }
      }
    }
  }

  button.sign-btn {
    height: fit-content;
    padding: 0.3rem 0.3rem;
    font-size: 0.85rem;
    border-radius: 2px;
    margin-right: 8px;
  }

  button.sign-btn:hover {
    color: rgb(0, 112, 205);
  }
}

nav.navbar .navbar-toggle {
  box-shadow: none;

  span {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.aside-bar {
  width: 330px;

  .box-aside-links {
    a {
      border-bottom: 1px solid #9f9f9f;
      padding: 18px 20px;
      gap: 20px;

      span {
        transition: 0.5s;
        color: #f3f3f3;
      }

      &:hover span {
        color: #fff;
      }
    }
  }
}
